/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common */
body{
    font-family: "Whitney", sans-serif;
    font-weight: 500;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
img{
    width: 100%;
    vertical-align: middle;
}
.col{
    display: inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 80%;
    margin: auto;
}
.text-container{
    margin: auto;
    text-align: center;
}
.text-container h1{
    font-size: 50px;
    margin-bottom: 5%;
}
.button-container{
    margin-top: 5%;
}

/* Buttons */
.button{
    text-decoration: none;
}
.small{
    font-size: 14px;
    padding: 8%;
    border-radius: 20px;
}
.big{
    font-size: 20px;
    padding: 2% 5%;
    border-radius: 35px;
}
.white{
    background-color: white;
    color: black;
}
.black{
    background-color: #23272a;
    color: white;
}
.cyan{
    background-color: #8ea1e1;
    color: white;
}

/* Header */
header{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
header .text-container{
    width: 65%;
    padding: 10% 0;
    margin-bottom: 100px;
    font-size: 20px;
}

/* Header Navbar */
nav{
    line-height: 80px;
    margin-bottom: 2%;
}
nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 0 2%;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav .logo,
nav .login{
    width: 10%;
}
nav .menu{
    width: 80%;
}

/* Main */
section {
    width: 100%;
    padding: 5%;
}
section .col img{
    vertical-align: middle;
}
section:nth-of-type(even){
    background-color: #f6f6f6;
}
section.clearfix:nth-of-type(odd) .col.left{
    width: 70%;
}
section.clearfix:nth-of-type(odd) .col.right{
    width: 30%;
}
section.clearfix:nth-of-type(even) .col.left{
    width: 30%;
}
section.clearfix:nth-of-type(even) .col.right{
    width: 70%;
}
section .col h2{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}
section .col p{
    font-size: 22px;
    line-height: 30px;
}
main section .text-container h2{
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}
main section .text-container p{
    font-size: 20px;
    margin-bottom: 5%;
    font-weight: bold;
}